@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-white);
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
        display: flex;
        justify-content: flex-end; /* Alinhar à direita */
        padding: 0 3%;
        height: 2em;
}

.navigation_header{
    gap: 1em;      
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: right;
    height: 100vh;
    transition: 1s;
    
}
.navigation_header a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: normal;
}
.navigation_header a:hover{
    color:#0B8DD4;
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

a{
    font-size: 12px;
}

.mkt{
        right: 0;
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-size: cover;
        background-position: center;
    }

    .title{
        color: white;
        position: relative;
        text-align: center;
        margin-top: 7rem;
        font-size: 40px;
    }

        .container {
            position: absolute;
            color: black;
            text-align: center;
            top: 60%;
            margin: 0rem 5rem 5rem 24rem;
        }

        .container > h2  {
            margin-top: 3rem;
        }

        .container > h2 > span {
            color: #0B8DD4;
        }


 /*Adicionar responsividade nessa sessão*/
 
.license {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 13rem);
    gap: 2rem; 
    margin-top: 0 auto; /* Adicione esta linha para centralizar o grid */
    margin-top: 25rem; /*Mudar para alguma outra forma mais viável e semantica de deixar na dobra requerida*/
    justify-content: center;
    list-style-type: none;
}

.licensas{
    text-align: center;
}

.license li {
    font-size: 20px;
    font-weight: normal;
    padding: 7rem 2rem 7rem 3rem;
    cursor: pointer;
    border-radius: 20px;
}

.license li h1{
    display: block;
    font-size: 60px;
    margin-top: 10px;
}

/*Emblemas*/


.emblemas {
    overflow-x: hidden; /* Esconde o overflow horizontal */
    background: linear-gradient(116deg, #0B8DD4 0%, #0A54A6 46.25%, #002EB4 100%);
    margin-top: 9rem;
    padding-top: 5rem;
    color: white;
    text-align: center;
}

.emblemas-icons{
    display: grid;
    grid-template-columns: repeat(7, 1rem);
    margin-top: 5rem; /*Mudar para alguma outra forma mais viável e semantica de deixar na dobra requerida*/
    justify-content: center;
    list-style-type: none;
}

.emblemas-icons img{
    max-width: 70%;
}

.emblemas-icons {
    list-style: none;
    display: flex;
  }
  
  .podium {
    background-color: white;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding-left: 1rem;
    padding-bottom: 9rem;
  }
  
  .podium img {
    background-color: white;
  }

