@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-white);
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
        display: flex;
        justify-content: flex-end; /* Alinhar à direita */
        padding: 0 3%;
        height: 2em;
}

.navigation_header{
    gap: 1em;      
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: right;
    height: 100vh;
    transition: 1s;
}

.navigation_header a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-weight: normal;
}
.navigation_header a:hover{
    color:#0B8DD4;
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

a{
    font-size: 12px;
}

.mkt {
    background-image: url("../img/mkt.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    position: relative;
  }

  .title{
    color: white;
    position: relative;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding-top: 150px;
}

