@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
}

.img_logo_header {
  width: 40px;
}

.header,
.navigation_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  display: flex;
  justify-content: flex-end; /* Alinhar à direita */
  padding: 0 3%;
  height: 2em;
}
.logo_header {
  display: flex;
  justify-content: flex-start; /* Alinhar à direita */
  padding: 0 3%;
  height: 2em;
}
.navigation_header {
  gap: 1em;
  z-index: 2;
}
.content {
  padding-top: 5em;
  text-align: right;
  height: 100vh;
  transition: 1s;
}
.navigation_header a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-weight: normal;
}
.navigation_header a:hover {
  color: #0b8dd4;
}

.btn_icon_header {
  background: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}

a {
  font-size: 12px;
}

.title {
  color: white;
  position: relative;
  text-align: center;
  margin-top: 7rem;
  font-size: 40px;
}

/*Informações da TX AITECH*/

.info {
  display: block;
}

.ctaSite {
  margin-top: 1rem;
  padding: 10px 27px 10px 27px;
  color: white;
  background: #0b8dd4;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  transition: 0.7s;
}

.ctaSite:hover {
  color: white;
  background: #050f2c;
  transition: 0.7s;
}

.section-2 {
  color: black;
  margin: 13rem 5rem 5rem 2rem;
}

.section-3 {
  color: white;
  background: #050f2c;
  padding: 2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .navigation_header {
    position: absolute;
    flex-direction: column !important;
    top: 0;
    background: var(--color-dark5);
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -100vw;
  }
  .btn_icon_header {
    display: block;
  }
}
@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: -10vw;
  }
}

footer{
  background-color: #050F2C;
  color: #fff;
  padding-top: 55px;
  padding-left: 100px;
}

footer h4{
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.info{
  display: flex;
}

.info h5, img{
  font-weight: 300;
  padding-top: 5px;
  padding-left: 10px;
}

.rodape{
  display: grid;
  grid-template-columns: repeat(2, 650px);
}

.sectionCta{
  width: 60%;
  height: auto;
}

.sectionCta h3{
  width: 300px;
  padding-bottom: 5px;
}


.sectionCta button{
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  width: 275.758px;
  border: none;
  height: 39px;
  border-radius: 6px;
  background: #0B8DD4;
  transition: 0.7s;
}

.sectionCta button:hover{
  color: #0891DD;
  background-color: #fff;
  transition: 0.7s;
}

.sectionBottom a, li{
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.sectionBottom ul{
  padding-top: 35px;
  display: grid;
  grid-template-columns: repeat(5, 80px 100px 250px 180px 200px );
}

.security ul{
display: grid;
grid-template-columns: repeat(2, 14rem);
justify-content: right;
text-align: center;
padding-right: 30px;
}


.security p{
font-size: 12px;
}

